<div class="container mt-3 p-5">
  <header class="text-center mb-5 page-title">
    {{ pageTitle }}
  </header>
  <form #clientForm="ngForm" (ngSubmit)="onFormSubmit(clientForm)">
    <div class="row input-row">
      <div class="form-group col-4">
        <div class="row">
          <div class="col-2">
            <label>Photo:</label>
          </div>
          <div class="col-2" style="margin-right: 1rem">
            <button
              *ngIf="!readOnly"
              pButton
              type="button"
              icon="pi pi-times"
              style="background-color: rgba(0, 0, 0, 0.623)"
              (click)="onClearImageClick(photoUpload)"
            ></button>
          </div>
          <div class="col-2">
            <p-fileUpload
              *ngIf="!readOnly"
              #photoUpload
              mode="basic"
              name="photo"
              [url]="client.selectedImageUrl"
              maxFileSize="10000000"
              [chooseLabel]="'Choose'"
              [previewWidth]="0"
              (onSelect)="onPhotoSelected($event, photoUpload)"
            ></p-fileUpload>
          </div>
        </div>

        <div class="mt-2">
          <img
            [src]="client.selectedImageUrl || client.imageUrl"
            width="300px"
            height="200px"
            style="border-radius: 25px"
          />
        </div>
      </div>
      <div class="col-4"></div>
      <div *ngIf="!readOnly" class="col-4" style="margin: auto 0">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onCancelClick()"
          style="background-color: rgba(0, 0, 0, 0.623); margin-right: 2rem"
          label="Cancel"
        ></button>
        <button pButton type="submit" icon="pi pi-save" label="Save"></button>
      </div>
    </div>
    <div class="row input-row">
      <div class="form-group col-4">
        <label for="firstName">First Name:</label>
        <input
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          type="text"
          pInputText
          [(ngModel)]="client.firstName"
          class="form-control"
          id="firstName"
          name="firstName"
        />
      </div>
      <div class="form-group col-4">
        <label for="lastName">Last Name:</label>
        <input
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          type="text"
          pInputText
          [(ngModel)]="client.lastName"
          class="form-control"
          id="lastName"
          name="lastName"
        />
      </div>
      <div class="form-group col-4">
        <label>Active:</label>
        <div>
          <p-inputSwitch
            *ngIf="!readOnly"
            [(ngModel)]="client.active"
            name="active"
          ></p-inputSwitch>
          <div
            *ngIf="readOnly"
            class="mt-2 fw-bold"
            style="margin-left: 1rem"
            [ngStyle]="{ color: client.active ? 'green' : 'red' }"
          >
            {{ client.active ? "YES" : "NO" }}
          </div>
        </div>
      </div>
    </div>
    <div class="row input-row">
      <div class="form-group col-4">
        <label for="email">Email:</label>
        <input
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          type="email"
          pInputText
          [(ngModel)]="client.email"
          class="form-control"
          id="email"
          name="email"
        />
      </div>

      <div class="form-group col-4">
        <label for="primaryContact">Primary Contact:</label>
        <input
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          type="text"
          pInputText
          [(ngModel)]="client.primaryContact"
          class="form-control"
          id="primaryContact"
          name="primaryContact"
        />
      </div>
      <div class="form-group col-4">
        <label for="alternateContact">Alternate Contact:</label>
        <input
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          type="email"
          pInputText
          [(ngModel)]="client.alternateContact"
          class="form-control"
          id="alternateContact"
          name="alternateContact"
        />
      </div>
    </div>
    <div class="row input-row">
      <div class="form-group col-4">
        <label for="address">Address:</label>
        <textarea
          [ngClass]="readOnly ? 'read-only' : ''"
          [readOnly]="readOnly"
          [rows]="5"
          [cols]="30"
          pInputTextarea
          [(ngModel)]="client.address"
          class="form-control"
          id="address"
          name="address"
          [autoResize]="true"
        ></textarea>
      </div>
      <div class="form-group col-4">
        <label>Date Of Birth:</label>
        <div>
          <p-calendar
            *ngIf="!readOnly"
            [(ngModel)]="client.dob"
            dateFormat="dd.mm.yy"
            [showIcon]="true"
            name="dob"
          ></p-calendar>
          <div *ngIf="readOnly" class="mt-2" style="margin-left: 1rem">
            {{ client.dob | date }}
          </div>
        </div>
      </div>
      <div *ngIf="hasRole(['Admin'])" class="form-group col-4">
        <label>User:</label>
        <div>
          <p-autoComplete
            *ngIf="!readOnly"
            [(ngModel)]="client.user"
            [suggestions]="userOptions"
            (completeMethod)="searchUsers($event)"
            [dropdown]="true"
            field="username"
            [forceSelection]="true"
            (onDropdownClick)="searchUsers($event)"
            name="user"
          ></p-autoComplete>
          <div class="mt-2" style="margin-left: 1rem" *ngIf="readOnly">
            {{ client.user.username }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
