<div class="container mt-5">
  <p-table [value]="clients" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-button
          icon="pi pi-plus"
          label="Add"
          routerLink="/edit-client"
        ></p-button>
        <div
          class="text-center"
          style="color: var(--primary-color); font-size: 1.4rem"
        >
          Clients ({{ clients ? clients.length : 0 }})
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Address</th>
        <th>Email</th>
        <th>Primary Contact</th>
        <th>Active</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.firstName + " " + client.lastName }}</td>
        <td>
          <img
            [src]="client.imageUrl"
            [alt]="client.firstName"
            width="100"
            class="shadow-4"
            style="border-radius: 10px"
          />
        </td>
        <td>{{ client.address }}</td>
        <td>
          {{ client.email }}
        </td>
        <td>
          {{ client.primaryContact }}
        </td>
        <td>
          <span [ngStyle]="{ color: client.active ? 'green' : 'red' }"
            ><b>{{ client.active ? "YES" : "NO" }}</b></span
          >
        </td>
        <td>
          <div class="row">
            <div class="col-6">
              <i
                class="pi pi-pencil btn-action"
                style="font-size: 1.5rem; cursor: pointer"
                (click)="onEditClick(client.id)"
              ></i>
            </div>
            <div class="col-6">
              <i
                class="pi pi-trash btn-action"
                style="font-size: 1.5rem; cursor: pointer"
                (click)="onDeleteClick(client.id)"
              ></i>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between"></div>
    </ng-template>
  </p-table>
</div>
<p-confirmPopup></p-confirmPopup>
