.page-header {
  font-family: var(--font-family);
  font-size: 1.5rem;
}

.card-div {
  background-color: rgb(254, 251, 251);
  border-top: 5px solid var(--primary-color);
}

.btn-action:hover {
  color: rgb(255, 1, 1);
}
